.post_link {
  color: black;
}

.post_link:hover {
  text-decoration: none;
  color: black;
  box-shadow: 100px 100px #888888;
}

.add_box_shadow {
  box-shadow: 5px 5px 30px -10px #888888;
}

html {
  height: 100%;
}

body {
  background-color: #DDDDDD;
}

.card {
  border-color: #999999;
}

.post-quotation {
  font-size: 160%;
  border-left: 2px solid #0086b3;
  padding-left: 5%;
  margin-bottom: 5%;
  margin-top:5%;
}

.main-section {
  background-color: white;
  height: 100%;
  box-shadow: 0px 0px 25px -3px #888888;
}

.lora-text {
  font-family: 'Lora', serif;
  font-size: 110%;
}

.crimson-text {
  font-family: 'Crimson Text', serif;
  font-size: 110%;
}

.garamond-text {
  font-family: 'Cormorant Garamond', serif;
  font-size: 110%;
}

.arima-text {
  font-family: 'Arima Madurai', cursive;
  font-size: 110%;
}

.pompiere-text {
  font-family: 'Pompiere', cursive;
  font-size: 110%;
}

.code-snippet {
  font-family: 'Courier New', courier, serif;
}
